body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-size: 48px;
  color: #ffffff;
}

hr {
    margin: 20px auto;
    color: #5377d8;
    border: 3px solid #5377d8;
    max-width: 65px;
    opacity: 1;  
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #6b8cee;
  border-color: #6b8cee;
  --bs-btn-hover-bg:#5377d8;
  --bs-btn-hover-border-color: #5377d8;
}
.btn-primary:hover {
  background-color: #5377d8;
  border-color: #5377d8; 
}

.btn-xl {
  padding: 1rem 2rem;
}
.buffer {
  height: 50px;
}